<div class="row">
  <div class="small-12 columns">
    <%= form_for(@bio) do |f| %>
      <% if @bio.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@bio.errors.count, "error") %> prohibited this bio from being saved:</h2>

          <ul>
          <% @bio.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="field">
      <h3><%= f.label :text %></h3>
      <%= f.text_area :text, class: "text-area" %>
    </div>
    <div class="field">
      <h3><%= f.label :subtext %></h3>
      <%= f.text_area :subtext, class: "text-area" %>
    </div>
    <div class="field">
      <h3><%= f.label :image %></h3><br>
      <%= f.file_field :image %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  </div>
</div>
