
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="small-12 large-8 columns">
    <%= markdown(@bio.text) %>
    <a href="#" class="about-link">more</a>
    <hr />
    <%= markdown(@bio.subtext) %>
  </div>
  <div class="small-12 large-4 columns">
    <div class="nav-buffer show-desktop"></div>
    </br>
    <%= image_tag @bio.image.url(:medium) %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h3><%= link_to 'Edit', edit_bio_path(@bio) %></h3>
    <h3><%= link_to 'Back', root_url %></h3>
  </div>
</div>
