<div class="row">
  <form>
    <feildset>
      <div class="small-12 columns">
        <h1>Log in</h1>
      </div>
      <div class="large-6 small-12 columns">
      <%= form_tag sessions_path do %>
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>
      </div>
      <div class="large-6 small-12 columns">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>

      <div class="small-12 columns">
        <%= submit_tag "Log in" %>
      </div>
      <% end %>
    </feildset>
  </form>
</div>
