<div class="two">
  <div class="triangle">&nbsp;</div>
  <div class="row">
    <div class="small-12 columns">
      <h1>Teachings</h1>
    </div>
    <span id="teachings-link"></span>
  <% @biblebooks.each do |biblebook| %>
    <div class="small-6 large-3 columns biblebook-cover">
      <%= image_tag biblebook.image.url(:large), :data => { :biblebook => biblebook.id }  %>
        <% if current_user %>
          <%= link_to 'Show', biblebook %>
          <%= link_to 'Edit', edit_biblebook_path(biblebook) %>
          <%= link_to 'Destroy', biblebook, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    </div>
  <% end %>
    <div class="small-6 large-3 columns">
      <div class="icon icon-headphones">&nbsp;</div>
    </div>

  <% if current_user %>
    <%= link_to 'New Biblebook', new_biblebook_path %>
  <% end %>
  </div>
  </br>
  </br>
  </br>
</div>
