<div class="fancy-stratum">
  <div class="small-4 columns color-3 fancy-border">
    <p>&nbsp;</p>
  </div>
  <div class="small-4 columns padding top-margin">
    <div class="back-3">
      <div class="top-left">&nbsp;</div>
      <div class="top-right">&nbsp;</div>
      <h1>Teachings</h1>
    </div>
  </div>
  <div class="small-4 columns gradi-1 color-3 fancy-border">
    <p>&nbsp;</p>
  </div>

  <div class="row">
    <div class="small-12 columns">
      </br>
    </div>
    <span id="teachings-link"></span>
  <% @biblebooks.each do |biblebook| %>
    <div class="small-6 large-4 columns biblebook-cover">
      <div class="biblebook-hover">&nbsp;</div>
      <%= image_tag biblebook.image.url(:large), :data => { :biblebook => biblebook.id }  %>
        <% if current_user %>
          <%= link_to 'Show', biblebook %>
          <%= link_to 'Edit', edit_biblebook_path(biblebook) %>
          <%= link_to 'Destroy', biblebook, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    </div>
  <% end %>

  <% if current_user %>
    <%= link_to 'New Biblebook', new_biblebook_path %>
  <% end %>
  </div>
</div>
