<div class="one gradi-1">

  <div class="fb-wraper">
    <div class="small-4 columns color-4 fancy-border-top">
      <p>&nbsp;</p>
    </div>
    <div class="small-4 columns padding bottom-margin-height">
      <div class="back-3 negitive-top">
        <h1>Books</h1>
      </div>
      <div class="bottom-left">&nbsp;</div>
      <div class="bottom-right">&nbsp;</div>
    </div>
    <div class="small-4 columns gradi-1 color-4 fancy-border-top">
      <p>&nbsp;</p>
    </div>
  </div>

  <h1 class="show-mobile">Books</h1>


<% @books.each do |book| %>
  <div class="row">
    <span id="books-link" style="position:absolute;top:-45px"></span>
    <div class="small-12 large-2 columns show-desktop">
      <div class="nav-buffer">&nbsp;</div>
    </div>
    <div class="small-12 large-6 columns">
        <h2 class="hh2"><%= book.title %></h2>

        <p><%= markdown(book.body) %></p>
    </div>
    </br>
    <div class="small-12 large-4 columns">
      <a class="book-link" href="<%= book.buylink %>"><%= image_tag book.image.url(:medium), class: "br-small show-desktop" %></a>
      <a class="book-link" href="<%= book.buylink %>"><%= image_tag book.image.url(:thumb), class: "show-mobile" %></a>
      <div class="book-buy">
        <h3><a href="<%= book.buylink %>" target="_blank" class="button2">buy here</a></h3>
      </div>
    </div>
  </div>
<% end %>

</div>
