<div class="one gradi-1">
  <span id="books-link" style="margin-top:-30px;position:absolute;"></span>
  <h1 class="nice-header-2">Books</h1>


<% @books.each do |book| %>
  <div class="row">
    <div class="small-12 large-2 columns show-desktop">
      <div class="nav-buffer">&nbsp;</div>
    </div>
    <div class="small-12 large-6 columns">
        <h2 class="hh2"><%= book.title %></h2>

        <p><%= markdown(book.body) %></p>
    </div>
    </br>
    <div class="small-12 large-4 columns">
      <a class="book-link" href="<%= book.buylink %>"><%= image_tag book.image.url(:medium), class: "br-small show-desktop" %></a>
      <a class="book-link" href="<%= book.buylink %>"><%= image_tag book.image.url(:thumb), class: "show-mobile" %></a>
      <div class="book-buy">
        <h3><a href="<%= book.buylink %>" target="_blank" class="button2">buy here</a></h3>
      </div>
    </div>
  </div>
<% end %>

</div>
