<% if current_user %>
<div id="user">
  <div class="row">
    <div class="small-12 columns">
      <h1>Logged in as <%= current_user.email %></h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-2 columns">
      <h3>&nbsp;</h3>
    </div>
    <div class="small-12 large-8 columns">
      <h3>
        <%= link_to "Teachings", teachings_path %>
        <%= link_to "Biblebooks", biblebooks_path %>
        <%= link_to "About", "/abouts/1/edit" %>
        <%= link_to "Books", books_path %>
        <%= link_to "Calvary", "/notes/1/edit" %>
        </br>
        </br>
        <%= link_to "Log out", log_out_path %>
      </h3>
    </div>
    <div class="small-12 large-2 columns">
      <h3>&nbsp;</h3>
    </div>
  </div>
</div>
<% else %>
  <div id="before-nav">&nbsp;</div>
  <nav id="main-nav" class="old-nav">
    <div class="logo old-logo">&nbsp;</div>
    <ul>
      <li>about</li>
      <li>teachings</li>
      <li>books</li>
      <li>social</li>
      <li>calvary</li>
    </ul>
  </nav>
<% end %>
