<div class="teaching-panels">
  <div class="teaching-panel-close">close</div>
  <div class="teaching-chapter">play <span class="bigger"> Chapter</span></div>
  <% @biblebooks.each do |biblebook| %>
  <div class="teaching-panel" data-id="<%= biblebook.id %>">
    <% biblebook.teachings.each do |teaching| %>
      <div class="teaching-image">
        <%= image_tag biblebook.image.url(:medium) %>
      </div>
      <div class="teaching-item">
        <div class="play-this-teaching button-play-list" data-name="<%= teaching.name %>" data-mp3="<%= teaching.mp3 %>" data-refurl="<%= teaching.refurl %>" data-biblebook="<%= teaching.biblebook.name %>">
        </div>
        <p> <%= teaching.name %></p>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
