<% if current_user %>
  <%= render "admin_links" %>
<% else %>
  <%= render "nav" %>
<% end %>
<div id="page-wrapper">
  <%= render "spinner" %>
  <%= render "playlist" %>
  <%= render "bios" %>
  <%= render "biblebooks" %>
  <%= render "books" %>
  <%= render "social" %>
  <%= render "about" %>
  <%= render "calvary" %>
  <%= render "player" %>
</div>
