<% if current_user %>
  <%= render "admin_links" %>
<% end %>

<div jc-teachings></div>
<div id="page-wrapper">
  <%= render "nav" %>
  <%= render "spinner" %>
  <%= render "bios" %>
  <%= render "biblebooks" %>
  <%= render "books" %>
  <%= render "social" %>
  <%= render "about" %>
  <%= render "calvary" %>
  <div id="player-wrapper" class="no-select">
    <div jc-player mp3=""></div>
    <div jc-player-controls progress="true"></div>
  </div>
</div>
