<div class="page-buffer">&nbsp;</div>
<%= render "nav" %>
<div id="page-wrapper">
  <%= render "spinner" %>
  <%= render "playlist" %>
  <%= render "about" %>
  <%= render "biblebooks" %>
  <%= render "books" %>
  <%= render "social" %>
  <%= render "calvary" %>
  <%= render "player" %>
</div>
