<% if current_user %>
  <%= render "admin_links" %>
<% else %>
  <%= render "nav" %>
<% end %>
<div id="page-wrapper">
  <%= render "spinner" %>
  <%= render "playlist" %>
  <%= render "bios" %>
  <div jc-biblebook></div>
  <%= render "biblebooks" %>
  <%= render "books" %>
  <%= render "social" %>
  <%= render "about" %>
  <%= render "calvary" %>
  <div id="player">
    <div jc-player-progress></div>
    <div jc-player media=""></div>
    <div jc-player-controls></div>
  </div>
</div>
