<div class="page-buffer show-desktop">&nbsp;</div>
<%= render "nav" %>
<div id="page-wrapper">
  <%= render "spinner" %>
  <%= render "bios" %>
  <%= render "playlist" %>
  <%= render "biblebooks" %>
  <%= render "books" %>
  <%= render "social" %>
  <%= render "about" %>
  <%= render "calvary" %>
  <% render "player" %>
</div>
