<% if current_user %>
  <%= render "admin_links" %>
<% else %>
  <%= render "nav" %>
<% end %>
<div id="page-wrapper">
  <%= render "spinner" %>
  <%= render "teachings" %>
  <%= render "bios" %>
  <%= render "biblebooks" %>
  <%= render "books" %>
  <%= render "social" %>
  <%= render "about" %>
  <%= render "calvary" %>
  <div id="player-wrapper">
    <div jc-player-progress></div>
    <div jc-player mp3=""></div>
    <div jc-player-controls></div>
  </div>
</div>
