<div class="row">
  <div class="small-12 columns">
  <%= form_for(@book) do |f| %>
    <% if @book.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

        <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="field">
      <h3><%= f.label :title %></h3><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <h3><%= f.label :body %></h3><br>
      <%= f.text_area :body, class: "text-area" %>
    </div>
    <div class="field">
      <h3><%= f.label :image %></h3><br>
      <%= f.file_field :image %>
    </div>
    <div class="field">
      <h3><%= f.label :buylink %></h3>
      <%= f.text_field :buylink %>
    </div>
    <br />
    <div class="actions">
      <h3><%= f.submit %></h3>
    </div>
  <% end %>
  </div>
</div>
