<%= form_for @biblebook, :html => { :multipart => true } do |f| %>
  <% if @biblebook.errors.any? %>
    <div id="error_explanation small-12 columns">
      <h2><%= pluralize(@biblebook.errors.count, "error") %> prohibited this biblebook from being saved:</h2>

      <ul>
      <% @biblebook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="large-4 small-12 columns">
    <h3><%= f.label :name %><br></h3>
    <%= f.text_field :name %>
  </div>
  <div class="large-4 small-12 columns">
    <h3><%= f.label "New testament ?" %><br></h3>
    <%= f.check_box :testament %>
  </div>
  <div class="large-4 small-12 columns">
    <h3><%= f.label :position %><br></h3>
    <%= f.number_field :position %>
  </div>


  <div class="large-4 small-12 columns">
    <h3><%= f.label :image %></h3>
    <%= f.file_field :image %>
  </div>
  <div class="large-4 small-12 columns">
    <h3>&nbsp;</h3>
    <h3><%= f.submit %></h3>
  </div>
<% end %>
