<div class="row">
  <span id="teachings-link"></span>
<% @biblebooks.each do |biblebook| %>
  <div class="small-2 large-4 columns">
    <%= image_tag biblebook.image.url(:large) %>
    <%= link_to 'Show', biblebook %>
  <% if current_user %>
    <%= link_to 'Edit', edit_biblebook_path(biblebook) %>
    <%= link_to 'Destroy', biblebook, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
  </div>
<% end %>
<% if current_user %>
  <%= link_to 'New Biblebook', new_biblebook_path, remote: true %>
<% end %>
</div>



