<h1>Listing biblebooks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Testament</th>
      <th>Position</th>
      <th>Image</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @biblebooks.each do |biblebook| %>
      <tr>
        <td><%= biblebook.name %></td>
        <td><%= biblebook.testament %></td>
        <td><%= biblebook.position %></td>
        <td><%= image_tag biblebook.image.url(:large) %></td>
        <td><%= link_to 'Show', biblebook %></td>
        <% if current_user %>
          <td><%= link_to 'Edit', edit_biblebook_path(biblebook) %></td>
          <td><%= link_to 'Destroy', biblebook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Biblebook', new_biblebook_path %>
