<div class="row">
  <div class="12 columns" id="notice">
    <%= notice %>
  </div>
  <div class="small-12 columns">
    <h1><%= @biblebook.name %></h1>
  </div>
   <div class="small-12 columns">
    <% if current_user %>
      <%= link_to 'Edit', edit_biblebook_path(@biblebook) %>
    <% end %>
  </div>
  <div class="small-12 large-6 columns">
    <img src="<%= @biblebook.image.url(:medium) %>">
  </div>
  <div class="small-12 large-6 columns biblebook_list">
    <div id="jp_container_1" class="jp-playlist">
      <ul class="pricing-table">
        <li class="title">
          <h3><%= @biblebook.name  %></h3>
        </li>
      <% @biblebook.teachings.each do |teaching| %>
        <li class="bullet-item clearfix">
          <div class="play-this-teaching button-play-list" data-name="<%= teaching.name %>" data-mp3="<%= teaching.mp3 %>" data-refurl="">
            <h5><%= teaching.name %></h5>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
    <div class="small-12 columns">
     <%= link_to 'Back', biblebooks_path %>
    </div>
  </div>


