<div id="loader">
  <h3>LOADING</h3>
  <div class="spin">&nbsp;</div>
</div>

<div class="js-black-background"></div>
<nav id="main-nav" class="new-nav">
  <h3 style="text-align:left;margin:8px 20px 6px;">
    <%= link_to "Back", root_url, class: "show-link" %>
  </h3>
</nav>
<div class="mobile-nav-buffer">&nbsp;</div>
<div class="mobile-show-header">
  <div class="mobile-cover-art"><%= image_tag @biblebook.image.url(:medium) %></div>
</div>
<div class="playlist-mobile">
  <% @biblebook.teachings.each do |teaching| %>
    <div class="teaching-item">
      <div class="play-this-teaching button-play-list-mobile" data-name="<%= teaching.name %>" data-mp3="<%= teaching.mp3 %>" data-refurl="<%= teaching.refurl %>" data-podcasturl="<%= teaching.podcasturl %>" data-biblebook="<%= teaching.biblebook.name %>">
        <div class="js-split">Chapter  <span class="mobile-teaching-name"><%= teaching.name %></span></div>
      </div>
    </div>
  <% end %>
</div>

<div id="player-wrapper" class="no-select" style="width:100%;">
  <div jc-player mp3=""></div>
  <div jc-player-controls show-progress="false"></div>
  <div jc-player-progress ></div>
</div>


