<div id="loader">
  <h3>LOADING</h3>
  <div class="spin">&nbsp;</div>
</div>

<div class="js-black-background"></div>
  <nav id="main-nav" class="new-nav">
    <h3 style="text-align:left;margin:8px 20px 6px;">
      <%= link_to "Back", root_url, class: "show-link" %>
    </h3>
  </nav>
  <div class="mobile-nav-buffer">&nbsp;</div>
  <div class="mobile-show-header">
    <h1><%= @biblebook.name %></h1>
    <hr style="margin:0px auto 5px; width:50%; border-color:#aaa;">
    <h2>Chapter</h2>
    </br>
  </div>
  <div class="playlist-mobile clearfix">
    <% @biblebook.teachings.each do |teaching| %>
      <div class="teaching-item">
        <div class="play-this-teaching button-play-list-mobile" data-name="<%= teaching.name %>" data-mp3="<%= teaching.mp3 %>" data-refurl="<%= teaching.refurl %>" data-biblebook="<%= teaching.biblebook.name %>">
        </div>
        <div class="js-split"><%= teaching.name %></div>
      </div>
    <% end %>
    <%= image_tag @biblebook.image.url(:medium) %>
  </div>




    <div id="lesson_mod_menu_mobile">
      <div id="jquery_jplayer_1" class="jp-jplayer">
        <!--  AUDIO ELEMENT  -->
      </div>
      <div id="jp_container_1" class="jp-audio">
        <div class="jp-controls">

          <!--  play/pause buttons -->
          <div class="play-pause-mobile">
            <a href="javascript:;" class="jp-play" tabindex="1">
              <div class="player_play">
                <div class="button-play-mobile"></div>
              </div>
            </a>
            <a href="javascript:;" class="jp-pause" tabindex="1" style="display:none;">
              <div class="player_pause">
                <div class="button-pause-mobile"></div>
              </div>
            </a>
          </div>
          <!--  progress bar -->
          <div class="lesson_progress_mobile">
            <div class="lesson_mod_time_mobile">
              <div class="jp-duration lesson_duration hide">&nbsp;</div>
            </div>
            <div class="jp-progress lesson_progress_bar_mobile">
              <div class="jp-seek-bar seek_bar">
                <div class="jp-play-bar progress_bar_mobile"><div class="jp-current-time lesson_current_time" style="right:-15px;"></div></div>
              </div>
            </div>
          </div>
          <!--  rewind button -->
          <div class="lesson_goback_mobile">
            <div class="button-goback player_rewind">&nbsp;</div>
          </div>


        </div>
      </div>
    </div>

  <div class="page-buffer">&nbsp;</div>
