<div class="row">
  <div class="small-12 columns">
    <h1>Listing teachings</h1>
  </div>
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Biblebook</th>
          <th>MP3</th>
          <th>Ref URL</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @teachings.each do |teaching| %>
          <tr>
            <td><%= teaching.name %></td>
            <td><%= teaching.position %></td>
            <td><%= teaching.biblebook.name %></td>
            <td><%= image_tag teaching.biblebook.image.url(:thumb) %></td>
            <td><%= teaching.refurl %></td>
            <td>
              <audio controls>
                <source src="<%= teaching.mp3%>" type="audio/ogg">
                <source src="<%= teaching.mp3%>" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
            </td>
            <td><%= link_to 'Show', teaching %></td>
            <td><%= link_to 'Edit', edit_teaching_path(teaching) %></td>
            <td><%= link_to 'Destroy', teaching, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="small-12 columns">
    <%= link_to 'New Teaching', new_teaching_path %> | <%= link_to 'back', root_url %>
  </div>
</div>


