<div class="small-12 columns">
  <h1>Listing teachings</h1>
</div>
<div class="small-12 columns">
  <h3><%= link_to 'New Teaching', new_teaching_path %></h3>
  <h3><%= link_to 'back', root_url %></h3>
</div>
<div class="small-12 columns">
  <table>
    <thead>
      <tr>
        <th><%= link_to "Name", sort: "name" %></th>
        <th><%= link_to "Position", sort: "position" %></th>
        <th><%= link_to "Biblebook", sort: "biblebook_id" %></th>
        <th><%= link_to "Ref URL", sort: "refurl" %></th>
        <th><%= link_to "Podcast URL", sort: "podcasturl" %></th>
      </tr>
    </thead>

    <tbody>
      <% @teachings.each do |teaching| %>
        <tr>
          <td><%= teaching.name %></td>
          <td><%= teaching.position %></td>
          <td><% if teaching.biblebook.present? %><%= teaching.biblebook.name %></td><% end %>
          <td><%= teaching.refurl %></td>
          <td><%= teaching.podcasturl %></td>
          <td><%= link_to 'Edit', edit_teaching_path(teaching) %></td>
          <td><%= link_to 'Destroy', teaching, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>




