<div class="small-12 columns">
  <h1>Listing teachings</h1>
</div>
<div class="small-12 columns">
  <h3><%= link_to 'New Teaching', new_teaching_path %></h3>
  <h3><%= link_to 'back', root_url %></h3>
</div>
<div class="small-12 columns">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Biblebook</th>
        <th>Ref URL</th>
      </tr>
    </thead>

    <tbody>
      <% @teachings.each do |teaching| %>
        <tr>
          <td><%= teaching.name %></td>
          <td><%= teaching.position %></td>
          <td><%= teaching.biblebook.name %></td>
          <td><%= teaching.refurl %></td>
          <td><%= link_to 'Edit', edit_teaching_path(teaching) %></td>
          <td><%= link_to 'Destroy', teaching, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>




