<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teaching.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @teaching.position %>
</p>

<%= link_to 'Edit', edit_teaching_path(@teaching) %> |
<%= link_to 'Back', teachings_path %>
