<div class="row">
  <div class="small-12 columns">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="small-12 columns">
    <p>
      <strong>Chapter:</strong>
      <%= @teaching.name %>
    </p>
    <p>
      <strong>Ref URL:</strong>
      <%= @teaching.refurl %>
    </p>
    <p>
      <strong>Position:</strong>
      <%= @teaching.position %>
    </p>

    <p>
      <strong>Biblebook:</strong>
      <%= @teaching.biblebook.name %>
    </p>
  </div>
  <div class="small-12 columns">

    <audio controls>
      <source src="<%= @teaching.mp3 %>" type="audio/ogg">
      <source src="<%= @teaching.mp3 %>" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>
  <div class="small-12 columns">
    <h3><%= link_to 'Edit', edit_teaching_path(@teaching) %></h3>
    <h3><%= link_to 'Teachings', teachings_path %></h3>
    <h3><%= link_to 'New Teaching', new_teaching_path %></h3>
  </div>
</div>
